# 02. 텍스트의 다양한 변신 (문자열, 파일 다루기)
### [ 목차 ]
#### 1. 문자열 다루기
#### 2. 정규 표현식
#### 3. 파일
#### 4. csv 파일

## 1. 문자열 다루기

In [3]:
# 줄바꿈
print("사회적\n거리두기")
print()

# 탭
print("사회적\t거리두기")
print()

# 홑따옴표
print("사회적\'거리두기")
print()

# 곁따옴표
print("사회적\"거리두기")
print()

# 백슬래시
print("사회적\\거리두기")
print()

사회적
거리두기

사회적	거리두기

사회적'거리두기

사회적"거리두기

사회적\거리두기

In [4]:
EmployeeID = ['OB94382', 'OW34723', 'OB32308', 'OB83461', 'OB74830', 'OW37402', 'OW11235', 'OB82345']

Production_Employee = [p for p in EmployeeID if p.startswith("OB")]
Office_Employee = [o for o in EmployeeID if o.startswith("OW")]

print(Production_Employee)
print(Office_Employee)

['OB94382', 'OB32308', 'OB83461', 'OB74830', 'OB82345']
['OW34723', 'OW37402', 'OW11235']

In [7]:
import os

file_list = os.listdir("/home/aiffel-dj41/aiffel/codingMaster/image")
print(file_list)

jpg = [jpg for jpg in file_list if jpg.endswith(".jpg")]
print(jpg)

['deque_full_.png', 'stack_full.png', 'circlequeue_full.png', 'pop_front.png', 'dequeue.png', 'pop_rear.png', 'queue.png', 'circlequeue_enqueue.png', 'circlequeue_dequeue.png', 'push_front.png', 'stack_push.png', 'stack_pop.png', 'stack.png', 'push_rear.png', 'circlequeue.png', 'queue_full.png', 'deque.png', 'stack.jpg', 'enqueue.png', 'deque_full.png', 'queue.jpg']
['stack.jpg', 'queue.jpg']

In [12]:
txt = "=====HELLO====="
print(txt)

# strip()
print(txt.strip("="))

# lsrtip()
print(txt.lstrip("="))

# rstrip()
print(txt.rstrip("="))

=====HELLO=====
HELLO
HELLO=====
=====HELLO

In [14]:
txt = "I fell into AIFFEL."
print(txt)

# upper()
print(txt.upper())

# lower()
print(txt.lower())

# capitalize()
print(txt.capitalize())

I fell into AIFFEL.
I FELL INTO AIFFEL.
i fell into aiffel.
I fell into aiffel.

In [19]:
print("aiffel".isupper())    # 모두 대문자
print("aiffel".islower())    # 모두 소문자
print("Python".istitle())    # 첫 글자만 대문자
print("python101".isalpha())    # 모두 알파벳
print("101".isdecimal())    # 모두 숫자
print("python101".isalnum())    # 모두 알파벳 + 숫자

False
True
True
False
True
True

In [24]:
stages = ['fundamentals', 'exploration', 'goingdeeper']
print(stages)

stages_join = ", ".join(stages)
print(stages_join)

['fundamentals', 'exploration', 'goingdeeper']
fundamentals, exploration, goingdeeper

In [27]:
stages = 'fundamentals, exploration, goingdeeper'
print(stages)

stages_split = stages.split(", ")
print(stages_split)

fundamentals, exploration, goingdeeper
['fundamentals', 'exploration', 'goingdeeper']

In [31]:
sent = "I can do it!"
print(sent)

sent_replace = sent.replace("I", "You")
print(sent_replace)

I can do it!
You can do it!

## 2. 정규 표현식

In [32]:
import re

sent = "I can do it!"
pattern = re.sub("I", "You", sent)

print(pattern)

You can do it!

In [34]:
pattern = re.compile("the")    # 찾고자 하는 문자열 패턴

print(pattern.findall("of the people, for the people, by the people"))

print(re.findall("the", "of the people, for the people, by the people"))

['the', 'the', 'the']
['the', 'the', 'the']

In [37]:
text = """
The first season of America Premiere League  was played in 1993. 
The second season was played in 1995 in South Africa. 
Last season was played in 2019 and won by Chennai Super Kings (CSK).
CSK won the title in 2000 and 2002 as well.
Mumbai Indians (MI) has also won the title 3 times in 2013, 2015 and 2017.
"""

pattern = re.compile("[1-2]\d\d\d")
print(pattern.findall(text))

['1993', '1995', '2019', '2000', '2002', '2013', '2015', '2017']

In [44]:
text = 'This is my phone number 010-111-1111'
pattern = re.compile(r"[0-9]+-[0-9]+-[0-9]+")

print(pattern.findall(text))

['010-111-1111']

In [45]:
text = "My e-mail adress is doingharu@aiffel.com, and tomorrow@aiffel.com"
pattern = re.compile(r"[0-9a-zA-Z]+@[0-9a-zA-Z]+\.[0-9a-zA-Z]+")

print(pattern.findall(text))

['doingharu@aiffel.com', 'tomorrow@aiffel.com']

## 3. 파일

In [59]:
f = open("hello.txt", "w")

for i in range(5):
    line = "{}번째 줄입니다.\n".format(i)
    f.write(line)
    
f.close()

print("파일 쓰기 완료!")

파일 쓰기 완료!

In [60]:
f = open("hello.txt", "r")

lines = f.readlines()
for line in lines:
    print(line)

f.close()

print("파일 읽기 완료!")

0번째 줄입니다.

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

파일 읽기 완료!

In [61]:
f = open("hello.txt", "r")

while True:
    line = f.readline()
    if not line:
        break
    print(line)

f.close()

print("파일 읽기 완료!")

0번째 줄입니다.

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

파일 읽기 완료!

## 4. csv 파일

In [66]:
import pandas as pd

fields = ["title", "singer", "released data"]
rows = [ ["Tho Box","Roddy Ricch","2019-12-19"],
         ["Don't Start Now", "Dua Lipa", "2019-11-01"],
         ["Life Is Good", "Future Featuring Drake", "2020-02-10"],
         ["Blinding", "The Weeknd", "2019-11-29"],
         ["Circles", "Post Malone","2019-08-30"] ]

df = pd.DataFrame(rows, columns=fields)
df.to_csv("pandas.csv", index=False)

print("파일 쓰기 완료!")

df

파일 쓰기 완료!

             title                  singer released data
0          Tho Box             Roddy Ricch    2019-12-19
1  Don't Start Now                Dua Lipa    2019-11-01
2     Life Is Good  Future Featuring Drake    2020-02-10
3         Blinding              The Weeknd    2019-11-29
4          Circles             Post Malone    2019-08-30

In [67]:
import csv

df = pd.read_csv("pandas.csv")

print("파일 읽기 완료!")

df

파일 읽기 완료!

             title                  singer released data
0          Tho Box             Roddy Ricch    2019-12-19
1  Don't Start Now                Dua Lipa    2019-11-01
2     Life Is Good  Future Featuring Drake    2020-02-10
3         Blinding              The Weeknd    2019-11-29
4          Circles             Post Malone    2019-08-30